@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto+Mono:wght@100;200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100vw;
}

html, body, #root{
    height: 100%;
}

*, button, input{
    border: 0;
    outline: 0;
}

body {
    background: #0E0B16;
}

.home{
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url('./assets/galaxy.png');
}

.home h1{
    color: #e7dfdd;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 98px;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 350px;
}

.content div{
    width: 250px;
    height: 3px;
    background-color: #e7dfdd;
}

.content p{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #e7dfdd;
}

.content button{
    background: rgba(231, 223, 221, 0.25);
    width: 320px;
    height: 45px;
    left: 558px;
    top: 587px;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #e7dfdd;
    line-height: 29px;
    cursor: pointer;
    transition: filter 0.2s;
    border-radius: 3px;    
}

.content button:hover{
    filter: brightness(70%);
}